.modal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: $modal;

    &--from-bottom {
        width: 80vw;
        bottom: 4rem;
    }

    .close-button {
        display: block;
        margin-left: auto;
        margin-bottom: 2rem;

        border: none;
        background: none;

        &__icon {
            width: 2rem;
            height: 2rem;
        }
    }
}
